.pageList {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  place-content: start center;
  align-items: start;
  gap: 0.5em;
  min-height: 75vh;
  padding-bottom: 5vh;
}

.loading {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}
