@use "../../utils/boxShadow.scss" as *;

.superheroItem {
  width: 17em;
  height: 13em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2em;

  /* border: 1px solid #787878; */

  /* box-shadow: 6px 6px 10px #787878; */
  @include custom-box-shadow;

  border-radius: 0.5em;
  padding-bottom: 1em;
}

.viewMoreBtn {
  background-color: #7878d2;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.2em 2em;

  &:hover {
    cursor: pointer;
  }
}
