.noDataFoundMessage {
  margin-top: 3em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.callToAction {
  margin-top: 1em;
  font-weight: 900;
}
